# Build artifacts
build/
CMakeFiles/
CMakeCache.txt
CMakeScripts/
cmake_install.cmake
Makefile
compile_commands.json
_deps/
*.cmake
MidiLogger_artefacts/
FiddleServer_artefacts/
FiddlePilot_artefacts/
Fiddle_artefacts/

# Node.js
node_modules/
package-lock.json
dist/

# OS specific
.DS_Store
Thumbs.db

# IDE specific
.vscode/
.idea/
*.swp
*.swo

# Project specific
fs.log
.cache/
.tmp.driveupload/
